@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap&subset=cyrillic");
html {
  font-size: 15px; }

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px; }

h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 40px; }

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif; }

h4 {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px; }

.heading-1,
h1,
button,
h2,
h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; }

.heading-1 {
  letter-spacing: 1px; }

section {
  background-color: #f7f7f7;
  position: relative;
  z-index: 0; }

button {
  border-radius: 5px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s; }

button:active,
button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

.heading-1,
button {
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 600; }

header {
  display: flex;
  flex-flow: column;
  padding-top: 1rem; }

.mobile-logo {
  display: none; }

.menu__logo {
  color: #303133;
  font-family: 'Marck Script', cursive;
  font-weight: 600;
  font-size: 40px;
  white-space: nowrap;
  text-align: center; }

.logo {
  margin-top: 38px; }

@keyframes slide-down {
  from {
    top: -200px; }
  to {
    top: 0; } }

div.contacts {
  position: absolute;
  background: #004a79;
  width: auto;
  height: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  line-height: 2;
  vertical-align: middle;
  right: 10%;
  top: 0;
  z-index: 5;
  animation-name: slide-down;
  animation-duration: 1s;
  transition: all .5s ease; }
  div.contacts span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.9; }
    div.contacts span a {
      color: white;
      padding-bottom: 15px;
      display: inline-block; }

ul.menu,
li.menu__item {
  display: block;
  padding: 0;
  margin: 0; }

li.menu__item {
  padding-right: 1.5rem; }
  li.menu__item a {
    color: #303133;
    text-decoration: none; }
    li.menu__item a:hover {
      color: rgba(48, 49, 51, 0.5); }
  li.menu__item a.dropdown-item {
    white-space: normal; }
    li.menu__item a.dropdown-item:hover {
      color: #303133; }

nav.navbar .dropdown:hover > .dropdown-menu {
  display: block; }

.mobile-menu {
  display: none; }

.dropdown-menu {
  margin: 0;
  margin-left: 15px;
  padding: 10px;
  padding-left: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 15px; }
  .dropdown-menu ul {
    padding: 0; }
    .dropdown-menu ul li {
      list-style-type: disc; }
      .dropdown-menu ul li a {
        padding: 0; }
        .dropdown-menu ul li a sub {
          color: rgba(48, 49, 51, 0.5);
          line-height: 10px; }

.navbar {
  padding: 0; }

@media (min-width: 1020px) {
  .topmenu {
    background-color: white;
    position: absolute; }
    .topmenu.fixed {
      left: 0;
      position: fixed;
      top: 0;
      z-index: 10; } }

/*hero*/
.kenburns {
  overflow: auto;
  -webkit-animation: kenburns 15s ease alternate forwards;
  -moz-animation: kenburns 15s ease alternate forwards;
  -o-animation: kenburns 15s ease alternate forwards;
  animation: kenburns 15s ease alternate forwards; }

@-webkit-keyframes kenburns {
  100% {
    -webkit-transform: scale(1.15); } }

@-moz-keyframes kenburns {
  100% {
    -moz-transform: scale(1.15); } }

@-o-keyframes kenburns {
  100% {
    -o-transform: scale(1.15); } }

@keyframes kenburns {
  100% {
    transform: scale(1.15); } }

.hero {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden; }
  .hero .bg_zoom {
    animation: kenburns 15s ease alternate forwards; }

@keyframes fadein {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }
  .hero .fadein {
    animation: fadein 1s forwards; }
  .hero h1 {
    color: black;
    margin-top: 150px;
    margin-bottom: 30px; }
  .hero h2 {
    display: block;
    background-color: #004a79;
    color: white;
    padding: 44px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 30px 60px -30px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 30px 60px -30px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 30px 60px -30px rgba(0, 0, 0, 0.45); }
  .hero button {
    background-color: #fbfbfb;
    color: #303133; }
    .hero button:hover {
      background-color: #f2f2f2; }

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover; }

@keyframes slideup {
  0% {
    transform: translateY(300%); }
  100% {
    transform: translateY(0%); } }

.slideup {
  animation-name: slideup;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: .3s; }

.hero__blueline {
  width: 80%;
  max-width: 520px;
  display: block;
  margin: 0 auto; }

.btn_orderbig {
  padding: 14px 40px;
  -webkit-box-shadow: 0 8px 30px -6px rgba(0, 0, 0, 0.6) !important;
  -moz-box-shadow: 0 8px 30px -6px rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0 8px 30px -6px rgba(0, 0, 0, 0.6) !important; }

.grey-bg {
  width: 100%;
  background: #dddddd;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  position: absolute;
  z-index: -1; }
  .grey-bg h2 {
    margin: 0 20px; }

.white-block {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: #303133;
  width: 250px;
  max-width: 31%;
  flex: 0 0 31%;
  margin-top: 30px; }
  .white-block h3 {
    height: 80px;
    margin: 10px; }
  .white-block i.fas,
  .white-block i.fa {
    color: #004a79;
    font-size: 50px;
    margin-left: 5%; }

.blue-block {
  background-color: #004a79;
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 250px;
  max-width: 40%;
  flex: 0 0 40%;
  margin-top: 30px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 3rem; }
  .blue-block h3 {
    height: 80px;
    margin: 10px; }
  .blue-block i.fas,
  .blue-block i.fa {
    color: white;
    font-size: 50px;
    margin-left: 5%; }
  .blue-block a {
    color: white;
    text-decoration: none; }
    .blue-block a:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .blue-block ul {
    padding-left: 30px; }

.grey-container {
  padding-top: 150px; }

.callback-form {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1500;
  top: 0;
  background-color: #004a79;
  overflow-y: auto; }
  .callback-form input,
  .callback-form textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-top: 30px; }
    .callback-form input:focus,
    .callback-form textarea:focus {
      outline: none; }
  .callback-form textarea {
    margin-bottom: 30px; }
  .callback-form button {
    padding: 12px 48px;
    word-wrap: normal;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 30px;
    transition: 0.3s; }
    .callback-form button:hover {
      background-color: #f2f2f2; }
  .callback-form .close {
    color: white;
    margin-top: 30px;
    cursor: pointer; }
  .callback-form .fz152 label {
    color: white; }

footer {
  width: 100%;
  color: white;
  font-size: 13px;
  background-color: #141618;
  padding: 30px 30px; }

@media (max-width: 768px) {
  header {
    padding-top: 0; }
  .topmenu {
    display: flex;
    justify-content: center;
    top: 100px;
    line-height: 35px;
    padding-top: 60px; }
  .mobile-logo {
    display: block;
    background-color: white; }
    .mobile-logo .menuburger {
      position: absolute;
      right: 15px; }
  .logo {
    display: none; }
  .dropmenu {
    top: 295px; }
  .menu__logo {
    font-size: 25px;
    text-align: left; }
  .topmenu,
  .dropmenu {
    text-align: center; }
  .dropdown-menu {
    background-color: transparent;
    position: relative;
    border: none;
    margin-left: 45px; }
    .dropdown-menu ul {
      color: white; }
  ul.menu {
    flex-flow: column; }
    ul.menu li.menu__item a {
      color: white;
      text-decoration: none; }
      ul.menu li.menu__item a:hover {
        color: white; }
    ul.menu li.menu__item a.dropdown-item {
      white-space: normal; }
      ul.menu li.menu__item a.dropdown-item:hover {
        color: white; }
      ul.menu li.menu__item a.dropdown-item sub {
        color: white; }
  .hero__img {
    top: 0;
    left: 10px;
    object-fit: cover;
    object-position: 25% top;
    height: 100%; }
  .hero {
    background-position: 20% 50%;
    margin-top: 70px; }
    .hero h1 {
      margin-top: 50px;
      margin-bottom: 30px; }
  .overlay {
    display: none;
    position: fixed;
    z-index: 100;
    background: #004a79;
    width: 100%;
    height: 100%;
    opacity: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  div.contacts {
    position: absolute;
    background: white;
    width: 100%;
    height: auto;
    color: #004a79;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    line-height: 1;
    vertical-align: middle;
    right: 0;
    top: unset;
    bottom: 0;
    z-index: 5;
    animation-name: none;
    transition: none; }
    div.contacts span {
      vertical-align: middle;
      line-height: 1.2; }
      div.contacts span a {
        color: #004a79;
        padding-bottom: 15px;
        display: inline-block; }
  .hamburger {
    margin: 0 auto;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    position: relative; }
  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #303133;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; }
  .bar1 {
    top: 0; }
  .bar2,
  .bar3 {
    top: 13.5px; }
  .bar3 {
    right: 0; }
  .bar4 {
    bottom: 0; }
  .hamburger3 .bar1 {
    transform-origin: 5%; }
  .hamburger3 .bar4 {
    transform-origin: 5%; }
  .checkbox3:checked + label > .hamburger3 > .bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 42px; }
  .checkbox3:checked + label > .hamburger3 > .bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent; }
  .checkbox3:checked + label > .hamburger3 > .bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent; }
  .checkbox3:checked + label > .hamburger3 > .bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 42px; }
  .white-block {
    flex: 0 0 48%;
    max-width: 48%;
    margin-top: 30px; }
  .grey-container {
    padding-top: 180px; }
  .blue-block {
    max-width: 45%;
    flex: 0 0 45%;
    margin-top: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 2rem; }
  .fz152 {
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2.5rem; }
  h2 {
    font-size: 1.3rem;
    line-height: 2.2rem; }
  .mobile-logo .menuburger {
    position: absolute;
    right: 5px; }
  .menu__logo {
    font-size: 1.2rem; }
  .hero {
    margin-top: 58px; }
  .grey-bg {
    padding-top: 75px; }
  .white-block {
    padding: 20px;
    width: 250px;
    flex: 0 0 90%;
    max-width: 90%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto; }
    .white-block h3 {
      height: unset;
      margin: 10px;
      margin-left: 0; }
  .grey-container {
    padding-top: 180px; }
  .blue-block {
    max-width: 75%;
    flex: 0 0 75%;
    margin-top: 30px;
    margin-right: 0; }
    .blue-block h3 {
      height: unset; } }

/*# sourceMappingURL=style.css.map */
